Projects/Project_1/obj/Debug/Project_01.csprojAssemblyReference.cache
Projects/Project_1/obj/Debug/Project_01.csproj.CoreCompileInputs.cache
Projects/Project_4/Problem_3/plot/plot.html
build
dist
Project 5.spec
.vscode/settings.json
update.spec
Projects/Project_5/__pycache__/Project 5.cpython-36.pyc
Projects/Project_5/__pycache__/Project 5.cpython-37.pyc
